#track-page {
  background: #ededed;
  color: #626262;
}

#track-page h1,
#track-page h2,
#track-page h3,
#track-page h4,
#track-page h5,
#track-page h6{
  color: #626262;
}

.featured-image {
  padding-bottom: 2em;
}

.pos-right {
  right: 0;
}

.top-bar {
  position: absolute;
  z-index: 9999;
  padding: 1em 2em;
  font-weight: 400;

  & a {
    color: $white;
  }
}

#track-page .top-bar a {
  color: #626262;

  &:hover, &:focus {
    color: #99a2a9;
    text-decoration: none;
    outline: 0;
  }
}