#track-page {
  background: #ededed;
  color: #626262;
}

#track-page h1,
#track-page h2,
#track-page h3,
#track-page h4,
#track-page h5,
#track-page h6{
  color: #626262;
}

.featured-image {
  padding-bottom: 2em;
}